/* layer: icons */
.i-mdi\:alarm{--un-icon:url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cpath d='M12 20a7 7 0 0 1-7-7a7 7 0 0 1 7-7a7 7 0 0 1 7 7a7 7 0 0 1-7 7m0-16a9 9 0 0 0-9 9a9 9 0 0 0 9 9a9 9 0 0 0 9-9a9 9 0 0 0-9-9m.5 4H11v6l4.75 2.85l.75-1.23l-4-2.37V8M7.88 3.39L6.6 1.86L2 5.71l1.29 1.53l4.59-3.85M22 5.72l-4.6-3.86l-1.29 1.53l4.6 3.86L22 5.72z' fill='currentColor'/%3E%3C/svg%3E");mask:var(--un-icon) no-repeat;mask-size:100% 100%;-webkit-mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;background-color:currentColor;height:1em;width:1em;}
/* layer: default */
.bg-dark-400{--un-bg-opacity:1;background-color:rgba(34,34,34,var(--un-bg-opacity));}
.text-3xl{font-size:1.875rem;line-height:2.25rem;}
.text-dark-500{--un-text-opacity:1;color:rgba(31,31,31,var(--un-text-opacity));}
.flex{display:flex;}
.h-100vh{height:100vh;}
.justify-center{justify-content:center;}
.items-center{align-items:center;}